<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2>
                Edit event
                <% if @event.ticket_types.count > 0 && @event.publish_at == nil %>                  
                    <a href="/publish_event/<%= @event.id %>" class="btn btn-primary">Publish</a>
                <% end %>
            </h2>            
            <% if @event.publish_at != nil %>
                <em>(Published at <%= @event.publish_at.to_formatted_s(:short) %>)</em>
            <% end %>
            <%= form_tag event_path(@event.id), method: :patch, class: "new-event-form" do %>
                <input type="hidden" name="event[user_id]" value="<%= current_user.id %>"/>
                <input type="hidden" name="event[id]" value="<%= current_user.id %>"/>
                <fieldset class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="event[name]" placeholder="Enter event name" value="<%= @event.name %>">
                </fieldset>
                <fieldset class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" id="description" name="event[extended_html_description]" placeholder="Enter event description"><%= @event.extended_html_description %></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label>Start date</label>
                    <%= datetime_select :event, :starts_at %>
                </fieldset>
                <fieldset class="form-group">       
                    <label>End date</label>
                    <%= datetime_select :event, :ends_at %>
                </fieldset>
                <fieldset class="form-group">
                    <label>Image</label>
                    <input type="text" class="form-control" id="name" name="event[hero_image_url]" placeholder="Enter event image url" value="<%= @event.hero_image_url %>">
                </fieldset>   
                <fieldset class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="event[category_id]">
                        <% @categories.each do |c| %>
                            <option value="<%= c.id %>" <% if c.id == @event.category_id%><%= "selected" %><% end %>><%= c.name %></option>
                        <% end %>
                    </select>
                </fieldset>                
                <fieldset class="form-group">
                    <label>Venue</label>
                    <select class="form-control" name="event[venue_id]">
                        <% @venues.each do |v| %>
                            <option value="<%= v.id %>" <% if v.id == @event.venue_id%><%= "selected" %><% end %>><%= v.name %> - <%= v.full_address %></option>
                        <% end %>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <button type="submit" class="btn btn-primary">Edit Event</button>
                </fieldset>
            <% end %>
            <h3>Ticket type: <%= @event.ticket_types.count %></h3>
            <% @event.ticket_types.each do |t| %>
                <div class="clearfix">
                    <label><%= t.name %> - <%= t.price %> vnd</label>
                    <%= form_tag event_ticket_path(@event.id, t.id), method: :delete, style: "float: right" do %>
                        <button type="submit" class="btn btn-danger btn-sm" style="float: right">x</button>
                    <% end %>
                </div>
            <% end %>
            <h3>Add ticket</h3>
            <%= form_tag event_tickets_path(@event.id), method: :post, class: "add-ticket-form" do %>
                <fieldset class="form-group">
                    <label for="name">Ticket name</label>
                    <input type="text" class="form-control" id="name" name="TicketType[name]">
                </fieldset>
                <fieldset class="form-group">
                    <label for="price">Ticket price</label>
                    <input type="text" class="form-control" id="price" name="TicketType[price]">
                </fieldset>
                <fieldset class="form-group">
                    <label for="quantity">Max quantity</label>
                    <input type="text" class="form-control" id="quantity" name="TicketType[max_quantity]">
                </fieldset>
                <fieldset class="form-group">
                    <button type="submit" class="btn btn-primary">Create ticket</button>
                </fieldset>
            <% end %>
        </div>
    </div>
</div>