<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= form_tag destroy_user_session_path, method: :delete do %>
            <button type="submit" class="nav-link btn btn-link" href="/users/sign_out">Log out as <%= current_user.name %></button>
          <% end %>
        </li>
        <li class="nav-item">
          <a href="/events/new" class="nav-link">Create Event</a>
        </li>
        <li class="nav-item">
          <a href="/venues/new" class="nav-link">Create Venue</a>
        </li>
        <li class="nav-item">
          <a href="/my_events" class="nav-link">My events</a>
        </li>
      <% else %> 
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_up">Sign Up</a>
        </li>
      <% end %>
    </ul>
    <%= flash_messages %>
  </nav>   

<%= yield %>

</body>
</html>
